In [60]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [58]:
df = pd.read_csv('Salaries.csv')

1. Which employee has the highest TotalPayBenefits?

In [ ]:
df.loc[df['TotalPayBenefits'].idxmax()]

2. Drop ID, Notes, Agency and Status Columns

In [ ]:
df = df.drop(['Id', 'Notes', 'Agency', 'Status'], axis=1)

3. Total Number of Job Titles Contain POLICE

In [33]:
df['JobTitle'].str.upper().str.contains('POLICE').sum()

8201

4. Top 10 most common job titles?

In [36]:
df['JobTitle'].value_counts().head(10)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: count, dtype: int64

5. What are the top 10 average TotalPay by JobTitle?`

In [39]:
df.groupby('JobTitle')['TotalPay'].mean().sort_values(ascending=False).head(10)

JobTitle
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    399211.275000
Chief Investment Officer                          339653.700000
Chief of Police                                   329183.646667
Chief, Fire Department                            325971.683333
DEPUTY DIRECTOR OF INVESTMENTS                    307899.460000
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)            302377.730000
Gen Mgr, Public Trnsp Dept                        297769.413333
Asst Chf of Dept (Fire Dept)                      281763.483889
DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)      279359.560000
Dep Dir for Investments, Ret                      278592.545000
Name: TotalPay, dtype: float64

6. How many unique job titles are there each year?

In [42]:
df.groupby('Year')['JobTitle'].nunique()

Year
2011    1045
2012    1044
2013    1051
2014     997
Name: JobTitle, dtype: int64

7. Find Average TotalPay Of All Employee Per Year

In [45]:
df.groupby('Year')['TotalPay'].mean()

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

8. How many unique employees worked each year?

In [50]:
df.groupby('Year')['EmployeeName'].nunique()

Year
2011    33878
2012    34349
2013    36150
2014    36684
Name: EmployeeName, dtype: int64

9. Which year had the most employees earning over 100,000 in TotalPay?

In [53]:
(df[df['TotalPay'] > 100000].groupby('Year').size()).idxmax()

2013

10. Which columns have missing values?

In [56]:
df.isnull().sum()

EmployeeName            0
JobTitle                0
BasePay               605
OvertimePay             0
OtherPay                0
Benefits            36159
TotalPay                0
TotalPayBenefits        0
Year                    0
dtype: int64