### FUNCTIONS

1. Write a Python function called add_numbers that takes two numbers as arguments and returns their sum. Then, test the function by calling it with two numbers of your choice.

In [84]:
def add_numbers(a,b):
    return a+b
add_numbers(6,5)

11

2. Create a Python function called currency_converter() that takes two arguments:

- amount: The amount of money to be converted (in USD).
- exchange_rate (default is 280): The conversion rate from USD to another currency (e.g., PKR). You can assume the default rate is 1 USD = 280 PKR.

The function should return a message showing how much the given amount is worth in the target currency (PKR).

In [86]:
def currency_converter(amount,exchange_rate=280):
    print(f"{amount} USD is equal to {amount * exchange_rate} PKR")

currency_converter(10)

10 USD is equal to 2800 PKR

3. Write a Python function display_student_info that accepts the following details about a student:

- name (Keyword argument): The name of the student.
- age (Keyword argument): The age of the student.
- grade (Keyword argument): The grade the student is in.
- school (Keyword argument): The name of the school the student attends.

In [88]:
def display_student_info(**kwargs):
    print("Student Info", kwargs)

display_student_info(name="Ali", age=15, grade="10th", school="City School")

Student Info {'name': 'Ali', 'age': 15, 'grade': '10th', 'school': 'City School'}

4. Write a Python function calculate_price that accepts two positional arguments:

- price: The price of a single item.
- quantity: The number of items bought.
- The function should return the total price by multiplying price and quantity.

In [90]:
def calculate_price(price, quantity):
    return price * quantity
calculate_price(150, 3)

450

5. Write a Python function display_prices that takes a product name and an arbitrary number of keyword arguments representing product prices. The function should display each product and its price.

Product: Laptop

Amazon: $800

eBay: $750

Walmart: $780

In [92]:
def display_prices(product, **prices):
    print("Product:", product)
    for store, price in prices.items():
        print(f"{store}: ${price}")

display_prices("Laptop", Amazon=800, eBay=750, Walmart=780)

Product: Laptop
Amazon: $800
eBay: $750
Walmart: $780

6. Write a Python function find_max that takes any number of numerical arguments and returns the maximum number.

In [94]:
def find_max(*numbers):
    return max(numbers)

find_max(12, 35, 87, 4, 56)

87

7. Write a Python function display_info that takes:
Positional arguments for the name and age of a person.
Keyword arguments for other personal details like address, phone number, and email.
Example Output:

- Name: Alice
- Age: 30
- Other Details:
    - address: 123 Main St
    - phone: 123-456-7890
    - email: alice@example.com

In [96]:
def display_info(name, age, **details):
    print(f"Name: {name}\nAge: {age}\nOther Details:")
    for key, value in details.items():
        print(f"{key}: {value}")


display_info("Alice", 30, address="123 Main St", phone="123-456-7890", email="alice@example.com")

Name: Alice
Age: 30
Other Details:
address: 123 Main St
phone: 123-456-7890
email: alice@example.com

### LIST COMPREHENSION

8. products = [ {"name": "Laptop", "price": 1200, "in_stock": True, "discount": 0.1}, {"name": "Smartphone", "price": 800, "in_stock": False, "discount": 0.05}, {"name": "Headphones", "price": 150, "in_stock": True, "discount": 0.2}, {"name": "Smartwatch", "price": 300, "in_stock": True, "discount": 0}, {"name": "Keyboard", "price": 100, "in_stock": True, "discount": 0.15} ]

- Get names of in-stock products:

*Use list comprehension to generate a list of names for the products that are in stock.

- Calculate final prices for in-stock products after discount:

*For products that have a discount, calculate the final price by applying the discount.

*For products with no discount, keep the original price.

- Generate a list of tuples with the product name and its final price.

Example Output:

- In-stock product names: ['Laptop', 'Headphones', 'Smartwatch', 'Keyboard']
- Discounted prices: [('Laptop', 1080.0), ('Headphones', 120.0), ('Smartwatch', 300), ('Keyboard', 85.0)]

In [99]:
products = [ {"name": "Laptop", "price": 1200, "in_stock": True, "discount": 0.1}, {"name": "Smartphone", "price": 800, "in_stock": False, "discount": 0.05}, {"name": "Headphones", "price": 150, "in_stock": True, "discount": 0.2}, {"name": "Smartwatch", "price": 300, "in_stock": True, "discount": 0}, {"name": "Keyboard", "price": 100, "in_stock": True, "discount": 0.15} ]

in_stock_names = [p["name"] for p in products if p["in_stock"]]
print("In-stock product names:", in_stock_names)

final_prices = [
    (p["name"], p["price"] * (1 - p["discount"]) if p["discount"] else p["price"])
    for p in products if p["in_stock"]
]
print("Discounted prices:", final_prices)

In-stock product names: ['Laptop', 'Headphones', 'Smartwatch', 'Keyboard']
Discounted prices: [('Laptop', 1080.0), ('Headphones', 120.0), ('Smartwatch', 300), ('Keyboard', 85.0)]

9.Create a list of even numbers between 1 and 20. (List Comprehension)

In [101]:
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

10. Create a list of numbers, generate a new list containing only the numbers that are divisible by 3 or 5. (List Comprehension)

In [103]:
numbers = list(range(1, 51))
divisible = [x for x in numbers if x % 3 == 0 or x % 5 == 0]
print("Divisible by 3 or 5:", divisible)

Divisible by 3 or 5: [3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50]