### Arithmetic Operations

##### 1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:
Sum, Difference, Product, Division, Floor Division, Modulus.

In [20]:
a=15
b=4
print('Sum:', a+b)
print('Difference:', a-b)
print('Product:', a*b)
print('Division:', a/b)
print('Floor Division:', a//b)
print('Modulus:', a%b)

Sum: 19
Difference: 11
Product: 60
Division: 3.75
Floor Division: 3
Modulus: 3

### Type Conversion

##### 2. Convert the following: (num1 = 10, num2 = 5.6, num3 = 4.43)
- Integer to float - Float to integer - Float to String

In [23]:
num1 = 10
num2 = 5.6
num3 = 4.43

print('Int to Float:', float(num1))
print('Float to Int:', int(num2))
print('Float to Str:', str(num3))

Int to Float: 10.0
Float to Int: 5
Float to Str: 4.43

### List Indexing

##### 3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
Print below using indexing:
- The first fruit - The last fruit (negative indexing) - The fourth fruit

In [26]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
print('First Fruit:', fruits[0])
print('Last Fruit:', fruits[-1]) #negative indexing
print('Fourth Fruit:', fruits[3])

First Fruit: apple
Last Fruit: orange
Fourth Fruit: coconut

### List Slicing

##### 4. List Slicing - numbers = [10, 20, 30, 40, 50]
Print:
- First three elements - Last two elements - Print all elements except the first one 
- Print all elements except the last one - Print the list in reverse using slicing -  Print every second element

In [29]:
numbers = [10, 20, 30, 40, 50]
print('First three elements:', numbers[0:3])
print('Last two elements:', numbers[-2:])
print('All elements except the first one:', numbers[1:])
print('All elements except the last one:', numbers[:-1])
print('List in reverse using slicing:', numbers[::-1])
print('Every second element:', numbers[::2])

First three elements: [10, 20, 30]
Last two elements: [40, 50]
All elements except the first one: [20, 30, 40, 50]
All elements except the last one: [10, 20, 30, 40]
List in reverse using slicing: [50, 40, 30, 20, 10]
Every second element: [10, 30, 50]

### List Methods (Append, Insert, Extend, Sort)

##### Append
##### 5. Add the number 10 to the end of the list using method.
nums = [1, 2, 3]

In [32]:
nums = [1, 2, 3]
nums.append(10)
print(nums)

[1, 2, 3, 10]

##### Insert 
##### 6. Insert the number 99 at index 1 using method.
nums = [1, 2, 3]

In [34]:
nums = [1, 2, 3]
nums.insert(1,99)
print(nums)

[1, 99, 2, 3]

##### Extend
##### 7.  Add the elements of another list [4, 5] to the original list using method
nums = [1, 2, 3]

In [36]:
nums = [1, 2, 3]
nums.extend([4, 5])
print(nums)

[1, 2, 3, 4, 5]

##### Sort
##### 8.  Sort the list in ascending order using method
nums = [4, 1, 3, 2]

In [38]:
nums = [4, 1, 3, 2]
nums.sort()
print(nums)

[1, 2, 3, 4]

### Food Order Management

##### 9. A customer orders several food items. Add the items to a list and then:
order = ["burger", "fries", "coke"]
- Add a new item "ice cream" using append()
- Remove an item "biryani" using remove()
- Show the final order

In [41]:
order = ["burger", "fries", "coke"]
order.append("ice cream")
# order.remove("biryani") # error because it is not in the list (we will apply if-else condition)
if "biryani" in order:
    order.remove('biryani')
print(order)

['burger', 'fries', 'coke', 'ice cream']

### Bus Passenger Tracking

##### 10. Track passengers on a bus:
passengers = ["Ali", "Zara", "Ahmed"]
- Insert a new passenger "Sara" at position 2
- Remove passenger who got off "Zara"
- Reverse the order to show who entered first

In [44]:
passengers = ["Ali", "Zara", "Ahmed"]
passengers.insert(1, 'Sara')
print(passengers, 'Postion 2 => index 1')
passengers.remove('Zara')
print(passengers, "passenger removed")
passengers.reverse()
print('After Reversing:', passengers)

['Ali', 'Sara', 'Zara', 'Ahmed'] Postion 2 => index 1
['Ali', 'Sara', 'Ahmed'] passenger removed
After Reversing: ['Ahmed', 'Sara', 'Ali']